!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %title Preston Duffield
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    :javascript
      const env = "#{Rails.env}";
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    -# = favicon_link_tag asset_path('affiliate-ad-network-icon-small.png')
  %body
    = render 'layouts/partials/navbar'


    = yield

    = render 'layouts/partials/footer'
